div.colorPicker-picker{
	height:35px;
	width:35px;
	border:1px solid #ccc;
	background:url(arrow.gif) no-repeat top right;
	cursor:pointer;
	line-height:20px;
	padding:0!important;
	display: inline-block;
}
div.colorPicker-palette{
	width:200px;
	position:absolute;
	border:1px solid #598FEF;
	background-color:#EFEFEF;
	padding:2px;
}
div.colorPicker_hexWrap{
	width:100%;
	float:left;
}
div.colorPicker_hexWrap label{
	font-size:95%;
	color:#2F2F2F;
	width:25%;
	margin:5px 2px;
}
div.colorPicker_hexWrap input{
	font-size:95%;
	border:1px solid #000;
	width:65%;
	margin:5px 2px;
	padding:0;
}
div.colorPicker-swatch{
	height:20px;
	width:20px;
	border:1px solid #000;
	float:left;
	cursor:pointer;
	line-height:20px;
	margin:2px;
	font-size: 20px;
	text-align: center;
}