.panel-default{
	border: none;	
}
.panel-default .panel-heading{
	background: #3498db;
	color: #fff;
}
#page-builder{
	background: #f5f5f5 !important;
	overflow: hidden;
}
#page-builder .container{
	max-width: 1170px;
	width: auto;
}
#page-builder > .row{
	min-height: 60px;
	padding: 40px 0px;
}
#page-builder .frame {
	min-height: 47px;
}
#page-builder .page-frame{
	min-height: 47px;
	border: 1px dashed #36a9e1;
	-webkit-transition: background 1s; /* Safari */
	transition: background 1s;
}

#page-builder .page-frame:hover{
	background: #fff;
	border: 1px dotted #36a9e1;
}
#page-builder .page-frame > .frame-header{
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0;
	-webkit-transition: opacity 1s; /* Safari */
	transition: opacity 1s;
	z-index: 999;
}

#page-builder .page-frame:hover > .frame-header{
	opacity: 1;
}
#page-builder .page-frame .frame-header{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 80px;
	height: 100%;
	display: table;
}
#page-builder .page-frame .frame-header > div{
	float: left;
	padding: 10px;
	color: #fff;
	cursor: pointer;
	min-height: 37px;
}

#page-builder .page-frame .element-mark {
	position: relative;
}

#page-builder .page-frame .element-mark .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9;
}

#page-builder .page-frame .frame-header .frame-title{
	background: #34495e;
}

#page-builder .page-frame .frame-header .frame-up, #page-builder .page-frame .frame-header .frame-down{
	background: #35a0fb;
	cursor: pointer;
}

#page-builder .page-frame .frame-header .frame-setting{
	background: #F39C12;
	cursor: pointer;
}

#page-builder .page-frame .frame-header .frame-remove{
	background: #e74c3c;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}

#page-builder .page-frame .add-element{
	text-align: center;
	margin: 37px 0px 5px 0px;
}

#page-builder .page-frame .add-element-btn{
	cursor: pointer;
	background: transparent;
	border: 1px dashed #36a9e1;
	color: #36a9e1;
	padding: 8px 20px;
}
#page-builder .page-frame .add-element-btn:hover{
	background: #f3fcff;
	border: 1px dotted #36a9e1;
}
#page-builder .page-frame .shortcode{
	display: none;
}
#page-builder .page-frame .element-edit{
	padding: 10px;
	background: #F39C12;
	color: #fff;
	cursor: pointer;
}
#page-builder .page-frame .element-block-edit{
	padding: 10px;
	background: #415b76;
	color: #fff;
	cursor: pointer;
}
#page-builder .page-frame .element-remove{
	padding: 10px;
	background: #e74c3c;
	color: #fff;
	cursor: pointer;
	border-top-left-radius: 4px;
}
#page-builder .page-frame .element-tool{
	position: absolute;
	display: table;
	bottom: 0px;
	right: 0px;
	opacity: 0;
	-webkit-transition: opacity 1s; /* Safari */
	transition: opacity 1s;
	z-index: 999;
}
#page-builder .page-frame .element-tool div{
	float: right;
}
#page-builder .page-frame .element-tool a{
	color: #fff;
	display: block;
	background: transparent;
}

#page-builder .page-frame:hover > .row > .element-tool{
	opacity: 1;
}
#page-builder .page-frame .page-resize{
	border-right: 1px solid #36a9e1;
}
#page-builder .page-frame .page-resize:last-child{
	border-right: none;
}
#page-builder .page-frame .loading{
	text-align: center;
}
#page-builder .w-1170 {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#page-builder .w-full {
	
}
#page-builder .page-container {
	padding: 0px 15px;
}
#page-builder .page-container > .row{
	display: flex;
}
#page-builder .page-container .page-resize{
	
}
#popup{
	z-index: 9999;
}
#popup #collapse0 .panel-body{
	padding: 0px;
	margin: 0px;
	border: none;
}
#popup .shortcode, #popup .edit{
	display: none;
}
.well{
	display: table;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	background: #fff;
	border: 1px solid #35a0fb;
	color: #35a0fb;
}
.well button{
	float: right;
	background: #35a0fb;
	border: none;
}
.well button:hover{
	background: #1a83dc;
}
.modal-dialog{
	width: 80%;	
}

.stick-popup{
	position: fixed;
	width: 300px;
	height: 100%;
	top: 0px;
	right: -300px;
	-webkit-transition: right 1s; /* Safari */
	transition: right 1s;
	z-index: 2222;
}
.stick-popup:hover{
	right: 0px;
	z-index: 2223;
}

.stick-popup > .popup-content{
	position: relative;
	height: 100%;
}
.stick-popup > .popup-content > .panel-default{
	height: 100%;
	overflow: auto;
}
#block-popup{
	border: 1px solid #35a0fb;
	background: #fff;
}
#block-popup .ui-sortable-handle {
	cursor: move;
}
#block-popup > .popup-content > .popup-button{
	position: absolute;
	top: 30%;
	left: -44px;
	background: #35a0fb;
	color: #fff;
	font-size: 24px;
	padding: 5px;
	width: 44px;
	height: 44px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#block-popup .nav-vertical{
	background: #555555;
	border-left: none;
	border-top: none;
	border-bottom: none;
	margin: 0px;
}
#block-popup .nav-vertical li{
	width: 100%;
	border: none;
	margin: 0px;
}
#block-popup .nav-vertical li a{
	color: #fff;
	width: 100%;
	border: none;
	border-radius: 0px;
	padding: 15px;
}
#block-popup .nav-vertical li a:hover{
	background: #1a83dc;
}
#block-popup .nav-vertical li.active a{
	background: #35a0fb;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
#block-popup .nav-vertical li ul{
	position: absolute;
	width: 300px;
	
}
#block-popup .tab-content{
	position: absolute;
	top: 0px;
	width: 300px;
	height: 100%;
	background: #555;
	right: 299px;
	display: none;
	overflow-y: auto;
}
#block-popup .tab-content .tab-pane{
	padding: 15px;
}
#block-popup .bootstrap-switch-primary, #block-popup .btn-primary{
	background: #35a0fb;
	outline: none;
	border: none;
}
#block-popup .shortcode, #block-popup .tool{
	display: none;
}
#block-popup .frame-preview div{
	border: 1px solid #ccc;
	height: 30px;
	padding: 0px;
}

#col-sm, #col-xs{
	height: 30px;
	background: #fff;
	border: 1px dashed #35a0fb;
	border-radius: 0px;
}

#col-sm .ui-slider-range, #col-xs .ui-slider-range{
	background: #35a0fb;
	border-radius: 0px;
}

#col-sm .ui-slider-handle, #col-xs .ui-slider-handle{
	height: 30px;
	width: 5px;
	background: #007167;
	cursor: col-resize;
	border: none;
	border-radius: 0px;
	margin: 0px;
	top: -1px;
	outline: none;
}

#tabs-popup{
	border: 1px solid #3498db;
	background: #fff;
}
#tabs-popup > .popup-content > .popup-button{
	position: absolute;
	top: 49px;
	left: -44px;
	background: #3498db;
	color: #fff;
	font-size: 24px;
	padding: 5px;
	width: 44px;
	height: 44px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#tabs-popup .bootstrap-switch-primary, #tabs-popup .btn-primary{
	background: #3498db;
	outline: none;
	border: none;
}
.placeholder{  
	background: #f3fcff !important;
	border: 1px dotted #36a9e1 !important;
	clear: both;
}
.overflow{
	max-height: 300px;
	overflow-y: auto;
}
.font-family-menu{
	font-size: 16px;
}
.short-form-control{
	padding: .5em;
	margin-right: .4em;
	border: 1px solid #aaa;
	border-radius: 3px;
	width: 168px;
}
#alert{
	position: fixed;
	display: none;
	width: 100%;
	top: 40%;
	left: 0px;
	text-align: center;
	z-index: 3333;
}
#alert .content{
	display: inline-block;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}
#html-debug {
	width: 100%;
	height: 768px;
}