.responsive-menu-controller {
	display: none;
}
.mega-menu-dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99;
}
.mega-menu-dropdown .mega-menu-dropdown {
	top: 0px;
	left: 100%;
}
.mega-menu-dropdown li:before {
	display: inline-block;
	font-family: FontAwesome;
}
.mega-content {
	padding: 10px;
	overflow: hidden;
}
.mega-content h1, .mega-content h2, .mega-content h3, .mega-content h4 {
	margin-top: 0px;
}
.columns4 .sub-menu-mega li {
	float: left;
	width: 23%;
	margin-right: 2%;
}
.columns3 .sub-menu-mega li {
	float: left;
	width: 30%;
	margin-right: 3%;
}
.columns2 .sub-menu-mega li {
	float: left;
	width: 46%;
	margin-right: 4%;
}
span.red {
	color: red;
}
span.bold {
	font-weight: bold;
}
span.blue {
	color: blue;
}
span.yellow {
	color: yellow;
}
span.pink {
	color: pink;
}
span.green {
	color: green;
}
.columns4 .col-one {
	float: left;
	width: 23%;
	margin-right: 2%;
}
.columns4 .col-two {
	float: left;
	width: 48%;
	margin-right: 2%;
}
.columns4 .col-three {
	float: left;
	width: 73%;
	margin-right: 2%;
}
.columns3 .col-one {
	float: left;
	width: 30%;
	margin-right: 3%;
}
.columns3 .col-two {
	float: left;
	width: 64%;
	margin-right: 3%;
}
.columns2 .col-one {
	float: left;
	width: 46%;
	margin-right: 4%;
}

/* Responsive */
@media only screen and (min-width : 769px) {
	#mega-menu {
		display: table !important;
	}
}
@media only screen and (max-width : 768px) {
.responsive-menu-controller {
	display: block;
}
#mega-menu {
	display: none;
}
#mega-menu .mega-root .mega-menu-dropdown {
	display: none!important;
}
#mega-menu > li.root {
	float: none;
	width: 100%;
}
#mega-menu > li.root > a, .normal-submenu > li > a {
	display: inline-block;
	height: 100%;
}
.normal-submenu {
	width: 100%;
}
.normal-submenu > li:hover {
	background: none;
}
.normal-submenu > li, .sub-menu-mega > li {
	height: auto;
}
.mega-menu-dropdown {
	position: static;
	background: none;
}
.mega-menu-dropdown .mega-menu-dropdown {
	display: block;
}
.mega-menu-dropdown {
	border-bottom: 0px;
}
.responsive-menu-controller {
	/*position: absolute;*/
	/*top: -38px;*/
	right: 15px;
	display: inline-block;
	width: 40px;
	background: #fff;
	/*border: 1px solid #ccc;*/
	border-radius: 4px;
	padding: 2px;
	text-align: center;
	z-index: 99;
}
.responsive-menu-controller .fa {
	font-size: 26px;
	color: #ED3237;
}
}

/* Design */
#mega-menu-container {
	width: 100%;
	position: relative;
}
#mega-menu {
	margin-bottom: 0px;
	padding: 0px;
	width: 100%;
}
#mega-menu li {
	list-style: none
}
#mega-menu > li {
	float: left;
	position: relative;
	transition: color 1s ease 0s, background-color 1s ease 0s, box-shadow 1s ease 0s;
}
#mega-menu li:hover > .mega-menu-dropdown {
	display: block;
}
#mega-menu li.root > a {
	display: block;
	padding: 18px 20px;
	color: #ED3237;
	font-weight: 600;
/*	-epub-text-transform: uppercase;
	text-transform: uppercase;*/
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#mega-menu li.root > a:hover, #mega-menu li.root > a:focus {
	color: #ED3237;
	text-decoration: none;
}
#mega-menu > li.active a {
	color: #ED3237;
}
/* Normal Menu */
#mega-menu .root .mega-menu-dropdown {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
}
#mega-menu .root .normal-submenu {
	padding: 0px;
	margin: 0px;
	width: 200px;
}
#mega-menu .root .normal-submenu > li {
	color: black;
}
#mega-menu .root .normal-submenu > li > a {
	color: #fff;
	display: block;
	padding-top: 13px;
	padding-right: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
}

#mega-menu .root .normal-submenu > li > a:hover {
	color: #ED3237;
	background-color: #1B1B1B;
}

#mega-menu .root .normal-submenu > li {
	position: relative;
}

/* Mega Menu */
#mega-menu .mega-root .mega-menu-dropdown {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
}
#mega-menu .mega-root .sub-menu-mega {
	padding: 0px;
	margin: 0px;
	display: table;
	width: 100%;
}
#mega-menu .mega-root .sub-menu-mega > li > a {
	color: #fff;
	display: block;
	padding-top: 13px;
	padding-right: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
}
#mega-menu .mega-root .sub-menu-mega > li > a:hover {
	color: #ED3237;
	background-color: #1B1B1B;
}

#mega-menu .mega-root .sub-menu-mega > li {
	position: relative;
}
@media only screen and (max-width : 768px) {
#mega-menu .normal-submenu, #mega-menu .sub-menu-mega {
	width: 100% !important;
}
}